{% extends '@Admin/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="post-header">
            <span>From - {{ feedback.name }}</span>
        </div>
        <div class="post-header">
            <span>Email - {{ feedback.email }}</span>
        </div>
        <div class="well">
            <p>{{ feedback.content }}</p>
        </div>
    </div>
{% endblock %}